<%= form_for @yoga do |f|  %>
    <div class="form-group mx-5 pb-2 text-left">
        <%= f.label :date, "Date", class:"pr-2 font-weight-bold new__label" %>
        <%= f.hidden_field :date %>
        <div class="input-group date" id="datepicker" data-target-input="nearest">
            <div class="datetimepicker-input"><%= @yoga.date %></div>
        </div>
    </div>
    <div class="form-group mx-5 pb-2 text-left">
        <%= f.label :lesson_id, "Lesson", class:"pr-2 font-weight-bold new__label" %>
        <%= f.hidden_field :name %>
        <div class="datetimepicker-input"><%= @yoga.name %></div>
    </div>
    <div class="text-center">
        <%= f.submit :class=>"btn-center btn-outline-warning btn-lg" %>
    </div>
<% end %>