<!DOCTYPE html>
<html lang="en">
  <%= render :partial => "header" %>
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "alert alert-#{key}") %>
  <% end %>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <table class="table mb-5 d-flex　w-100 font-weight-normal">
            <thead>
              <tr class="">
                  <th scope="col">Id</th>
                  <th scope="col">Date</th>
                  <th scope="col">Lesson</th>
                  <th scope="col">Category</th>
                  <th scope="col">Level</th>
                  <th scope="col">Edit</th>
                  <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              <% @yogas.each do |y| %>
                <tr>
                    <td><%= y.id %></td>
                    <td><%= y.date %></td>
                    <td><%= y.lesson.lesson %></td>
                    <td><%= y.lesson.category %></td>
                    <td><%= y.lesson.level %></td>
                    <td><%=link_to "Edit", edit_yoga_path(y)%></td>
                    <td><%= link_to "X", yoga_path(y), method: :delete, data:{confirm: "Are you sure to delete?"}, class:"btn btn-danger" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <%=link_to "Add Lesson", new_yoga_path %>
      </div>
    </div>
</body>
</html>
