<!DOCTYPE html>
<html lang="en">
  <%= render :partial => "pages/header" %>
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "alert alert-#{key}") %>
  <% end %>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <table class="table mb-5 d-flex　w-100 font-weight-normal">
            <thead>
              <tr class="">
                  <th scope="col">日付</th>
                  <th scope="col">レッスン</th>
                  <th scope="col">カテゴリ</th>
                  <th scope="col">レベル</th>
                  <th scope="col">修正</th>
                  <th scope="col">削除</th>
              </tr>
            </thead>
            <tbody>
              <% @yogas.each do |y| %>
                <tr>
                    <td><%= y.date %></td>
                    <td><%= y.name %></td>
                    <td><%= y.lesson.category %></td>
                    <td><%= y.lesson.level %></td>
                    <td><%=link_to "Edit", edit_yoga_path(y)%></td>
                    <td><%= link_to "X", yoga_path(y), method: :delete, data:{confirm: "Are you sure to delete?"}, class:"btn btn-danger" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="text-center">
            <%=link_to "レッスンを追加する", new_yoga_path, class:"font-weight-bold font-pink" %>
          </div>
        </div>
      </div>
    </div>
</html>
