<div class="m-3">
  <%= form_for @user do |f|  %>
    <%= f.label :name, "Name" %>
    <%= f.label :twiterId, "TwitterId" %>
    <%= f.label :country, "Country" %>
    <%= f.label :date, "Date" %>
    <%= f.label :twitterLink, "TwitterLink" %>
  <% end %>
</div>