<%= form_for @lesson do |l|  %>
    <div class="form-group mx-5 pb-2 text-left">
        <%= l.label :lesson_id, "Lesson", class:"pr-2 font-weight-bold new__label" %>
        <%= l.hidden_field :name %>
        <div class="datetimepicker-input"><%= @lesson.name %></div>
    </div>
    <div class="form-group mx-5 pb-2 text-left">
        <%= l.label :category, "Category", class:"pr-2 font-weight-bold new__label" %>
        <%= l.hidden_field :category %>
        <div class="datetimepicker-input"><%= @lesson.category %></div>
    </div>
    <div class="form-group mx-5 pb-2 text-left">
        <%= l.label :level, "Level", class:"pr-2 font-weight-bold new__label" %>
        <%= l.hidden_field :level %>
        <div class="datetimepicker-input"><%= @lesson.level %></div>
    </div>
    <div class="text-center">
        <%= l.submit :class=>"btn-center btn-outline-warning btn-lg" %>
    </div>
<% end %>