<!DOCTYPE html>
<html lang="en">
<%= render :partial => "pages/header" %>
<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "alert alert-#{key}") %>
<% end %>
<body data-spy="scroll" data-offset="64" data-target="#section-topbar">
  <div class="container">
    <div class="row">
      <div class="col-12 w-100">
        <table class="table mb-5 d-flex　w-100 font-weight-normal">
          <thead>
            <tr class="">
                <th scope="col">レッスン</th>
                <th scope="col">カテゴリ</th>
                <th scope="col">レベル</th>
            </tr>
          </thead>
          <tbody>
            <% @lessons.each do |l| %>
              <tr>
                <td><%= l.name %></td>
                <td><%= l.category %></td>
                <td><%= l.level %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>