<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Yogini History</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
</head>
<body data-spy="scroll" data-offset="64" data-target="#section-topbar">
<div class="row">
    <div class="col-12">
        <div class="text-center my-5">
            <h2 class="font-weight-bold">Add new lesson</h2>
        </div>
        <%= form_for @lesson, url:create_confirm_lessons_path do |l|  %>
            <div class="form-group mx-5 pb-2 text-left">
                <%= l.label :lesson_id, "Lesson", class:"pr-2 font-weight-bold new__label" %>
                <%= l.text_field :name, class: "form-control text-monospace" %>
            </div>
            <div class="form-group mx-5 pb-2 text-left">
                <%= l.label :category, "Category", class:"pr-2 font-weight-bold new__label" %>
                <%= l.select :category, ['', 'BASIC', 'POWER', 'RELAX', 'SOUND', 'BODYMAKE'], {}, {class: "form-control text-monospace"} %>
            </div>
            <div class="form-group mx-5 pb-2 text-left">
                <%= l.label :level, "Level", class:"pr-2 font-weight-bold new__label" %>
                <%= l.select :level, ['', '1.5', '2', '2.5', '3', '3.5'], {}, {class: "form-control text-monospace"} %>
            </div>
            <div class="text-center">
                <%= l.submit :class=>"btn-center btn-outline-warning btn-lg" %>
            </div>
        <% end %>
    </div>
</div>
</body>
</html>